version: "3.9"

services:
  mongodb:
    image: mongo:6
    container_name: google_auth_mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build: .
    container_name: nest_google_auth_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mongodb

volumes:
  mongo_data:
